

 <h1>Currency pairs</h1>

<ul>
    

    <% @generate.each do |element| %>
  <li>
      <a href="/<%= element %>">
        Convert 1 <%= element %> to...
      </a>
    </li>
 <% end %>

 

</ul>

 